* {
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,400&display=swap');

//@import 'bibliotecas';
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/components/navigation/navigation.scss";

@import "variables";
//@import 'reset';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./IconMoon.scss";
@import "./main";